API Reference
=============

{{ package_name }} module
{{ "-" * (package_name|length + 7) }}

.. automodule:: {{ package_name }}
   :members:

{{ package_name }}.main module
{{ "-" * (package_name|length + 12) }}

.. automodule:: {{ package_name }}.main
   :members: