Installation
============

From Source
-----------

.. code-block:: bash

    git clone https://github.com/{{ github_username }}/{{ project_name }}.git
    cd {{ project_name }}
    make install

Development Installation
------------------------

.. code-block:: bash

    git clone https://github.com/{{ github_username }}/{{ project_name }}.git
    cd {{ project_name }}
    make install-dev

Requirements
------------

* Python {{ python_version }}+