API Reference
=============

{{ package_name }} module
{{ "-" * (package_name|length + 7) }}

.. automodule:: {{ package_name }}
   :members:

{% if create_api %}{{ package_name }}.app module
{{ "-" * (package_name|length + 11) }}

.. automodule:: {{ package_name }}.app
   :members:
{% else %}
{% if entry_point %}{{ package_name }}.cli module
{{ "-" * (package_name|length + 11) }}

.. automodule:: {{ package_name }}.cli
   :members:

{{ package_name }}.app module
{{ "-" * (package_name|length + 11) }}

.. automodule:: {{ package_name }}.app
   :members:
{% else %}{{ package_name }}.app module
{{ "-" * (package_name|length + 11) }}

.. automodule:: {{ package_name }}.app
   :members:
{% endif %}
{% endif %}
